body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}


#gamesboard-container {
  width: 600px;
  display: flex;
  justified-content: space-between;
}

.game-board {
  width: 300px;
  height: 300px;
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
}


.cell {
  width: 30px;
  height: 30px;
}


.option-container {
  width: 640px;
  height: 360px;
  margin: 30px 0;
  background-color: yellow;
  display: flex;
  align-items: center;
}

.cell.smallbird {
  background-color: brown;
}

.cell.ttbird {
  background-color: blue;
}

.cell.hummingbird {
  background-color: green;
}

.cell.manatee {
  background-color: orange;
}


.cell.smallbird-preview {
  width: 60px;
  height: 30px;
  margin: 3px;
}


.cell.ttbird-preview {
  width: 120px;
  height: 30px;
  margin: 3px;
}

.cell.hummingbird-preview {
  width: 60px;
  height: 60px;
  margin: 3px;
}

.cell.manatee-preview {
  width: 150px;
  height: 120px;
  margin: 3px;
}



.cell.hit {
  background-color: red;
}

.cell.miss {
  background-color: white;
}

#controls {
  margin-top: 20px;
}


.hover {
  background-color: grey;
}

#computer .smallbird,
#computer .ttbird,
#computer .hummingbird,
#computer .manatee {
  background-color: pink;


.boom {
  background-color: red !important;
}

.empty {
  background-color: grey !important;
}
